html,
body {
  margin: 0;
  font-family: 'EB Garamond', serif;
}

#p5-container {
  width: 1400px;
  height: 800px;
  position: absolute;
  left: 0%;
  margin:0;
  top: 0%;
  /* transform: translate(-50%, -50%); */
  /* transform: scale(1.0) */
}
.whole-wrapper {
  display: flex;
  flex-direction: column;
}

.dropdown {
  display: flex;
  flex-direction: row;
  position: fixed;
  right: 8%;
  top: 20%;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
  background-color: "#89CFF0";
}

.dropbtn {
  background-color: rgb(242,172,185);
  color: white;
  padding: 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #af67ce;
}

.dropdown-wrapper {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-wrapper a {
  color: black;
  padding: 10px 12px;
  font-size: 14px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */

.dropdown-wrapper a:hover {
  background-color: rgb(242,172,185)
}

.show {
  display: block
}

.icon{
  position: absolute;
  left:96%;
  top: 2%
}
